<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.remindname"
    >
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    &lt;!&ndash;    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />&ndash;&gt;-->
<!--    <uses-feature android:name="android.hardware.camera" android:required="true"/>-->

    <application
        android:allowBackup="true"

        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemindName"
       >
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
        </activity>

        <!-- Make app appear in temi's Launcher menu -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />
    </application>

</manifest>